body{
    background:#1b3256;
    height:100hv;
    display:grid;
    align-items: center;
    justify-items: center;
}
h1{
    color:#ffffff;
    font-weight:400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#watch-shape{
    background: #a7afac;
    height:500px;
    width:300px;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.screen{
    background: #f0f8d9;
    position:absolute;
    z-index: 5;
    height:150px;
    width:250px;
    margin:25px;
    border-radius: 15px;
    justify-content: center;
}
.values{
    text-align:center;
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 500;
margin-top:50px;
}
.button{
    width:80%;
    height:50px;
    border-radius: 10px;
    margin-left:30px;
    margin-top:15px;
    padding:0;
    border-style: none;
    letter-spacing: 3px;    
}
#start{
    margin-top:225px;
    background:#3d8e11;
    color:#ffffff;
    border-radius: 10px;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
}
#start:hover{
color: #ffffff;
background:#6bd134;
border: solid 1px #3d8e11;
cursor: pointer;
}
#stop{
    background:#f0120b;
    color:#ffffff;
    border-radius: 10px;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
}
#stop:hover{
color:#ffffff;
background:#f04741;
border:solid 1px #f0120b;
cursor: pointer;
}
#reset{
    background:#f0a00b;
    color:#ffffff;
    border-radius: 10px;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
}
#reset:hover{
color: #ffffff;
background:#e6ab3f;
border:solid 1px #f0a00b;
cursor: pointer;
}