@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Pattaya&display=swap');
body{
    background:linear-gradient(#accaf7, #3c6099) ;
    height:97vh;
    display:grid;
    align-items: center;
    justify-items: center;
}
h1{
    color:rgb(65, 63, 63);
    font-weight:800;
    font-family: 'KoHo', sans-serif;
    padding:0;
    margin-top:-10px;
    font-size:3.5rem;
}

#watch-shape{
    background: #9ca3a1;
    height:430px;
    width:300px;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
       margin-top: -50px;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 6px  rgb(71, 71, 71);
}

.screen{
    background: #f0f8d9;
    position:absolute;
    z-index: 5;
    height:150px;
    width:250px;
    margin:25px;
    border-radius: 15px;
    justify-content: center;
    box-shadow:  0 2px 2px 2px gray;
}
.values{
    text-align:center;
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 500;
margin-top:50px;
}

.button{
    width:70%;
    height:45px;
    border-radius: 10px;
    margin-left:45px;
    margin-top:15px;
    padding:0;
    border-style: none;
    letter-spacing: 3px;   
    font-size:18px;
    font-family: 'Source Code Pro', monospace;
    font-weight:500;
    color:#ffffff;
    border-radius: 10px;
    box-shadow:  0 1px 1px 1px rgb(100, 100, 100); 
}
#start{
    margin-top:225px;
    background:#3d8e11;
}
#start:hover{
color: #ffffff;
background:#6bd134;
border: solid 1px #3d8e11;
cursor: pointer;
}
#pause{
    background:#656566;
}
#pause:hover{
color: #ffffff;
background:#8d8d8f;
border: solid 1px #656566;
cursor: pointer;
}
#stop{
    background:#f0120b;
}
#stop:hover{
color:#ffffff;
background:#f04741;
border:solid 1px #f0120b;
cursor: pointer;
}
#reset{
    background:#f0a00b;
}
#reset:hover{
color: #ffffff;
background:#e6ab3f;
border:solid 1px #f0a00b;
cursor: pointer;
}