@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Pattaya&display=swap');
body{
    background:linear-gradient(#accaf7, #3c6099) ;
    height:97vh;
    display:grid;
    align-items: center;
    justify-items: center;
}
h1{
    color:rgb(65, 63, 63);
    font-weight:800;
    font-family: 'KoHo', sans-serif;
    padding:0;
    margin:10px 0 -20px;
    font-size:3.5rem;
}

#watch-shape{
    background:linear-gradient(#9ca3a1,#727473);
    height:260px;
    width:170px;
    border-top-left-radius: 30px;
    border-top-right-radius:30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: -70px;
    display:flex;
    flex-wrap: nowrap;
    z-index: 1;
    box-shadow: 0 2px 2px 2px  rgb(49, 49, 49);
}

.screen-container{
    background: #6bd134;
    height:200px;
}
.screen{
    background: #f0f8d9;
    position:absolute;
    z-index: 5;
    height:80px;
    width:140px;
    margin:15px;
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    box-shadow:  0 2px 2px 2px rgb(85, 84, 84);
}
.values{
    text-align:center;
font-size: 26px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 500;
margin-top:26px;
}
.button-container{
    margin:-100px 0 0 -36px;
    padding:0;
    width:100px;
    height:174px;
}
.button{
    width:150px;
    height:30px;
    border-radius: 10px;
    margin-left:45px;
    margin-top:15px;
    padding:0;
    border-style: none;
    letter-spacing: 3px;   
    font-size:13px;
    font-family: 'Source Code Pro', monospace;
    font-weight:500;
    color:#ffffff;
    border-radius: 10px;
    box-shadow:  0 1px 1px 1px rgb(85, 84, 84);
}
#start{
    margin-top:225px;
    background:#3d8e11;
}
#start:hover{
color: #ffffff;
background:#6bd134;
border: solid 1px #3d8e11;
cursor: pointer;
}
#pause{
    background:#656566;
}
#pause:hover{
color: #ffffff;
background:#8d8d8f;
border: solid 1px #656566;
cursor: pointer;
}
#stop{
    background:#f0120b;
}
#stop:hover{
color:#ffffff;
background:#f04741;
border:solid 1px #f0120b;
cursor: pointer;
}
#reset{
    background:#f0a00b;
}
#reset:hover{
color: #ffffff;
background:#e6ab3f;
border:solid 1px #f0a00b;
cursor: pointer;
}